.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #5b9aebfb;
    border-radius: 10px;
    background-color: #f9f9f9;
    
}

.form-section {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary,
.btn-secondary,.btn3 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px
}

.btn-primary {
    background-color: #158b27;
    color: #fff;
    margin-right: 10px;
}
.btn-primary:disabled {
    background-color: #158b27;
    color: #fff;
    margin-right: 10px;
    opacity: 0.5;
    cursor:not-allowed;
}

.btn-secondary {
    background-color: #ccc;
    color: #000;
    margin-right: 10px;
}
.btn3{
    background-color: #ccc;
    color: #000;
}
.success-message {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

