.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group label{
    margin-left: 0px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.loading-spinner {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 3px;;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.button-group button:first-child {
    margin-right: 10px;
}

.button-group button:hover {
    background-color: #0056b3;
}
