
<div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
</div>

<table border="1" *ngIf="!isLoading">
    <tr>
        <th>Quiz ID</th>
        <th>Quiz Name</th>
        <th>Number of Questions</th>
        <th>Admin Name</th>
    </tr>
    
    <tr *ngFor="let q of fetchedQuestions">
        <td>{{ q.quizId }}</td>
        <td>{{ q.quizName }}</td>
        <td>{{ q.numQuestions }}</td>
        <td>{{ q.userEmail }}</td>
    </tr>
</table>

<div *ngIf="!fetchedQuestions" class="no-data-message">
    <small>No Quiz found for this user</small>
</div>


<!-- <p>list-quiz-admin works!</p>

<div *ngIf="isLoading" style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
</div>

<table border="1" *ngIf="!isLoading ">
    <tr>
        <th>Quiz ID</th>
        <th>Quiz Name</th>
        <th>Number of Questions</th>
        <th>Admin Name</th>
        <th>All Question of the Admin</th>
    </tr>
    
    <tr *ngFor="let q of quiz">
        <td>{{q.quizId}}</td>
        <td>{{q.quizName}}</td>
        <td>{{q.numQuestions}}</td>
        <td>{{q.userEmail}}</td>
        <ul *ngFor="let question of q.questions">
                <li>{{ question.questionDes }}</li>
                <li>{{ question.options[0] }}</li>
                <li>{{ question.options[1] }}</li>
                <li>{{ question.options[2] }}</li>
                <li>{{ question.options[3] }}</li>
                <li>{{ question.options[question.correctOption]}}</li>
            
        </ul>
    </tr>
</table>

<div *ngIf="!fetchedQuestions">
    <small>No Quiz found for this user</small>
</div> -->