
<div >
    <app-navbar ></app-navbar>
</div>
<div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
</div>
<table border="1" *ngIf="!isLoading && fetchedQuestions.length>0 && !isSelected">
    <tr>
        <th>Quiz ID</th>
        <th>Quiz Name</th>
        <th>Number of Questions</th>
        <th>Admin Name</th>
    </tr>
    
    <tr *ngFor="let q of fetchedQuestions; let ind=index" (click)="selected(q)">
        <td>{{ q.quizId }}</td>
        <td>{{ q.quizName }}</td>
        <td>{{ q.numQuestions }}</td>
        <td>{{ q.userEmail }}</td>
    </tr>
</table>

<div *ngIf="isSelected"  class="quiz-questions">
    <p>Number of Question:- {{selectedQue.numQuestions}} </p> 
    <p>Quiz ID is:- {{selectedQue.quizId}}</p>
    <div *ngFor="let question of selectedQue.questions; let i = index">
        <p>Question : {{ question.questionDes }}</p>
        <ul *ngFor="let option of question.options;let i=index">
            <li >{{i+1}}. {{option}}</li>
        </ul>
    </div>
    <button (click)="back()" class="back">Back</button>
</div>

<div *ngIf="fetchedQuestions.length===0 && !isLoading" class="no-data-message">
    <small>No Quiz found for this user</small>
</div>

